html,
body {
  overflow-x: hidden;
  background-color: rgb(30, 27, 27);
}

* {
  font-family: "Quicksand", sans-serif;
  margin: 0px;
  color: white;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}
*::-webkit-scrollbar {
  width: 2px;
  z-index: -1;
}
body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(249, 194, 60);
  border-radius: 3px;
}

.sidebar_container::-webkit-scrollbar {
  width: 3px;
}

.sidebar_container::-webkit-scrollbar-track {
}

.sidebar_container::-webkit-scrollbar-thumb {
  background-color: rgb(249, 194, 60);
  border-radius: 3px 0px 0px 3px;
}

@media (max-width: 1240px) {
  .sidebar_container::-webkit-scrollbar {
    height: 3px;
  }
  .banner_container {
    font-size: 300% !important;
    display: flex !important;
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 1rem !important;
    border-radius: 0 !important;
  }
  .sidebar_container {
    position: fixed !important;
    flex-direction: row !important;
    height: auto !important;
    width: 100vw !important;
    font-weight: 800;
    gap: 1rem;
    background-color: rgba(249, 194, 60, 0.8);
    backdrop-filter: blur(3px);
    padding: 0rem 1rem;
    top: 3.5rem;
    z-index: 100;
    border: none !important;
  }
  .sidebar_container > p {
    width: auto;
    overflow-x: auto;
    height: 2rem;
    padding: 0.5rem;
    box-sizing: content-box;
    color: rgb(30, 27, 27) !important;
  }
  .generic_container {
    padding: 1rem;
    width: 100vw !important;
    text-align: justify;
  }
  .viewport_reference {
    margin-top: 3.5rem !important;
  }
  .document_viewport {
    padding: 0rem 0rem !important ;
    margin-left: 0rem !important;
  }
  .document_section_header {
    justify-content: flex-start !important ;
  }
  .document_section_main {
    border-right: none !important;
    border-left: 1px solid rgb(249, 194, 60);
  }
}
